<div class="jumbolink">
  <%= link_to items_path do %>
    <div class="jumbotron">
      <div class="caption">
        <h2 class="items">ITEMS</h2>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="page-header categories">
    <h2>Categories</h2>
  </div>
</div>
<div class="container categories">
  <div class="row">
    <div class="col-sm-2 col-md-2">
      <a href="<%= category_path("general-goods") %>">
        <div class="thumbnail">
          <img src="/assets/special-items_icon.png" alt="special items icon">
            <div class="caption">
              <h3>Special Items</h3>
            </div>
        </div>
       </a>
     </div>
    <div class="col-sm-2 col-md-2">
      <a href="<%= category_path("potions") %>">
        <div class="thumbnail">
          <img src="assets/potions_icon.png" alt="potions icon">
            <div class="caption">
              <h3>Potions</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-2 col-md-2">
      <a href="<%= category_path("munitions") %>">
        <div class="thumbnail">
          <img src="/assets/munitions_icon.png" alt="munitions icon">
            <div class="caption">
              <h3>Munitions</h3>
            </div>
        </div>
      </a>
    </div>
    <div class="col-sm-2 col-md-2">
      <a href="<%= category_path("equipment") %>">
        <div class="thumbnail">
          <img src="/assets/equipment_icon.png" alt="equipment icon">
            <div class="caption">
              <h3>Equipment</h3>
            </div>
        </div>
      </a>
    </div>
    <div class="col-sm-2 col-md-2">
      <a href="<%= category_path("storage") %>">
        <div class="thumbnail">
          <img src="/assets/storage_icon.png" alt="storage icon">
            <div class="caption">
              <h3>Storage</h3>
            </div>
        </div>
      </a>
    </div>
    <div class="col-sm-2 col-md-2">
      <a href="<%= category_path("key-items") %>">
        <div class="thumbnail">
          <img src="/assets/key-items_icon.png" alt="key items icon">
            <div class="caption">
              <h3>Key Items</h3>
            </div>
        </div>
      </a>
    </div>
  </div>
</div>
