<div class="page-header">
  <div class="container">
    <h2>Cart</h2>
  </div>
</div>


    <% if @status == false %>
    <%= link_to "Add an item to your cart!", items_path, class: 'btn btn-default' %>
    <% else %>
      <% @cart.each_pair do |item, quantity|  %>
    <tr>
      <td><% item = Item.find(item)%></td>
      <td><%= item.name  %></td>
      <td><%= item.price  %>
        <%= button_to "-", cart_path(item_id: item.id), method: :delete, class: "button_minus" %>
        <%= quantity %>
        <%= button_to "+", cart_path(item_id: item.id), class: "button_plus" %>
      </td>
      <td><%= link_to "Remove", cart_path(item_id: item.id), method: :put, class: "remove_link" %></td>
      <td>Total: <%= @total %> Rupees</td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>

<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width:50%">Item</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th style="width:22%" class="text-center">Subtotal</th>
      <th style="width:10%"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td data-th="Product">
        <div class="row">
          <div class="col-sm-2 hidden-xs"><img src="shield_item.png" alt="..." class="img-responsive"/></div>
          <div class="col-sm-10">
            <h4 class="nomargin">Item 1</h4>
            <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </td>
      <td data-th="Price">$1.99</td>
      <td data-th="Quantity">
        <input type="number" class="form-control text-center" value="1">
      </td>
      <td data-th="Subtotal" class="text-center">1.99</td>
      <td class="actions" data-th="">
        <button class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="visible-xs">
      <td class="text-center"><strong>Total 1.99</strong></td>
    </tr>
    <tr>
      <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
      <td colspan="2" class="hidden-xs"></td>
      <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
      <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
    </tr>
    </tfoot>
  </table>
</div>


<div class="panel panel-success">
  <% if current_patron? %>
    <h2><%= link_to 'Checkout', new_patron_order_path, class: 'btn btn-success' %></h2>
  <% else %>
    <div class="container">
      <%= link_to "Login", login_path, class: 'btn btn-success' %> or
      <%= link_to "Create Account", new_user_path , class: 'btn btn-success' %> to Checkout
    </div>
  <% end %>
</div>