<div class="container">
  <div class="page-header admin">
      <h2><%= @user.username %>'s Account Information</h2>
  </div>
</div>
<div class="row">
  <div class="container">
      <div class="btn-toolbar pull-right">
        <%= link_to "All Orders", admin_orders_path, class: 'btn btn-default'%>
        <%= link_to "All Items", admin_items_path, class: 'btn btn-default'%>
        <%= link_to "Create Item", new_admin_item_path, class: 'btn btn-success'%>
      </div>
    <div class="col-sm-10 col-sm-offset-2">
      <div class="list-group">
        <ul class="col-md-8 list-unstyled">
          <li class="list-group-item"><strong>Username:  </strong><%= @user.username %></li>
          <li class="list-group-item"><strong>Orders Placed:  </strong><%= @orders %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
