<div class="page-header">
<div class="container">
  <h1><%= @user.username %>'s Account Information</h1>
</div>
</div>
<div class="container">

  <%= link_to "All Orders", admin_orders_path %>
  <%= link_to "All Items", admin_items_path %>
  <%= link_to "Create Item", new_admin_item_path %>

  <h3>Username: <%= @user.username %> </h3>
  <h4>Orders Placed: <%= @orders %> </h4>

</div>
