<div class="page-header">
  <div class="container">
    <h1>Edit: <%= @user.username %>'s Profile </h1>
  </div>
</div>

<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username%>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>
  
<% end %>
