<div class="patron-profile">
  <h1><%= @user.username %>'s Account Information</h1>

  <%= link_to "Orders", patron_orders_path %>

  <h3>Username: <%= @user.username  %> </h3>
  <h3>Location: <%= @user.location %> </h3>
  <h4>Orders Placed: <%= @orders %></h4>
  <h4>Money Spent at Store: <%= @total %> </h4>

  <%= link_to "Edit Profile", edit_patron_user_path(@user) %>
</div>
